* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #333;
  background: #fff;
  height: 100%;
}

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-white: #fff;
  --color-blue: #3039c3;
  --color-pink: #ff4cb9;
  --color-orange: #ff8412;
  --color-strategy-bg: #3136ac;
  --color-cyan: #50d9d4;

  --font-title: 2.3rem "Poppins", sans-serif;
  --font-subtitle: 1.25rem "Poppins", sans-serif;
  --font-text-title: 12px "Poppins", sans-serif bold;
  --font-form-title: 36px "Poppins", sans-serif;
}

/*RESPONSIVE*/

@media (max-width: 1250px) {
  .box {
    min-width: 400px !important;
  }
  .second-step {
    width: 100% !important;
  }
  .form-container {
    max-width: 600px !important;
    margin-top: 50% !important;
  }
  .layer-woman {
    top: 0 !important;
    right: 20% !important;
    width: 660px !important;
    height: 670px !important;
  }
  .spiral-content {
    flex-direction: column-reverse !important;
    align-items: center;
  }
  .spiral-content-text {
    width: 100% !important;
  }
  .spiral-content-text p {
    width: 100% !important;
    margin: 5% 0px 0px 2% !important ;
  }
  .about-overlay {
    padding: 2% !important;
  }
  .why-us {
    font-size: 22px !important;
    width: 200px !important;
  }
  .statistic-wraper {
    width: 80% !important;
    top: 0 !important;
    max-height: initial !important;
  }
  .statistic-resume {
    padding: 15% 9% 7% 13% !important;
  }
  .statistic-boxes {
    flex-direction: column !important;
  }
  .box-statistic {
    width: 90% !important;
    margin: 0 auto !important;
  }
  .box-statistic p {
    text-align: center !important;
  }
  .about-unidades-container {
    width: 100% !important;
    flex-direction: column !important;
  }
  .box-destaq {
    margin-bottom: 0 !important;
  }
  .unity {
    font-size: 20px !important;
    width: 100px !important;
    margin-top: 5% !important;
  }
  .liders-container {
    padding: 2% !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .first-liders-section {
    width: 80% !important;
    margin: 0 auto !important;
  }
  .first-liders-section p {
    width: 80% !important;
  }
  .second-liders-section {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
    flex-wrap: nowrap !important;
    align-items: center !important;
    align-content: center !important;
  }
  .box-lider {
    width: 80% !important   ;
  }
  .box-lider:first-of-type {
    margin-top: 25% !important;
  }
  .banner-container h1 {
    flex-direction: column !important;
  }

  .client-header {
    width: 100% !important;
    justify-content: center !important;
    flex-direction: column !important;
  }
  .client-logo {
    width: 100% !important;
    text-align: center !important;
    margin: 20px 0 !important;
  }
  .client-description {
    width: 100% !important;
    padding: 30px 50px !important;
  }
  .client-datas {
    flex-direction: column !important;
  }
  .client-datas-statistics {
    width: 100% !important;
    padding: 0 10px !important;
  }
  .contact-container {
    flex-direction: column-reverse !important;
  }
  .contact-form {
    padding: 20px !important;
  }
  .contact-form h3 span {
    font-size: 75px !important;
  }
  .client-datas-image {
    width: 100% !important;
  }
  .contact-form p {
    width: 100% !important;
  }
  .contact-form form input {
    width: 100% !important;
  }
  .contact-photo {
    width: 100% !important;
    margin-top: 0px !important;
  }
  .contact-photo img {
    max-width: -webkit-fill-available !important;
    height: 100% !important;
    margin-bottom: -10px !important;
  }
  .box-unidade {
    margin: 10px 0 !important;
  }
}
@media (max-width: 1160px) {
}
@media (max-width: 550px) {
  input {
    font-size: 20px !important;
  }
}
